<div class="jumbotron">
  <h3>{{app}}</h3>
  <br>

  <form name="contatoForm">
    <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true"
      ng-minlength="3" />
    <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone"
      ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
    <input class="form-control" type="text" ng-model="contato.data" name="data" placeholder="Data" ui-date />
    <select class="form-control" ng-model="contato.operadora"
      ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' for operadora in operadoras">
      <option value="">Selecione uma operadora</option>
    </select>
  </form>

  <div ng-show="contatoForm.nome.$dirty && contatoForm.nome.$error.minlength" class="alert alert-danger">
    <div ng-show="contatoForm.nome.$error.required">
      Por favor, preencha o nome!
    </div>
    <div>
      O campo nome deve ter no mínimo 10 caracteres.
    </div>
  </div>

  <div ng-show="contatoForm.telefone.$dirty">
    <div ng-show="contatoForm.telefone.$error.required" class="alert alert-danger">
      Por favor, preencha o telefone!
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
      O campo telefone deve ter o formato DDDDD-DDDD!
    </div>
  </div>

  <br>
  <button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid"
    ng-click="adicionarContato(contato)">Adicionar Contato</button>
  <a style="margin-top: 20px" class="btn btn-light btn-block" href="#/contatos">Voltar</a>
</div>